// Color Variable
$primary-color: #ea4e1b;
$secondaryy-color: #c05299;
$tertiary-color: #e0e0e0;
$black-color: #0d0229;
$white-color: #ffffff;
$line-color: #f7f8fb;
$body-color: #8a8a8a;
$success-color: #4bb543;
$error-color: #c72c41;
$warring-color: #f88f01;

// Font Variable

$font-stack: "SF-Pro-Text", sans-serif;
